<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" //>

  <% if (title) { %>
  <title><%= title %></title>
  <% } %>

  <% for (const attributes of link) { %>
  <link <%- Object.entries(attributes).map(([key, value]) => `${key}="${value}"`).join(' ') %> //>
  <% } %>

  <% for (const [name, content] of Object.entries(meta)) { %>
  <meta name="<%= name %>" content="<%= content %>" //>
  <% } %>

  <base href="/" //>

  <% const fontNames = Object.values(fonts); %>
  <% if (fontNames.length > 0) { %>
  <!-- https://sia.codes/posts/making-google-fonts-faster/ -->
  <link rel="preconnect" href="https://fonts.googleapis.com" //>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin //>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?<%- fontNames.map(font => `family=${font.replaceAll(' ', '+')}`).join('&') %>&display=swap"
  //>
  <% } %>

  <style>
    <% const variables = Object.entries(theme); %>
    <% if (variables.length > 0) { %>
    :root {
      <% for (const [name, value] of variables) { %>
      --<%= name %>: <%- value %>;
      <% } %>
    }
    <% } %>

    <%- reset.split('\n').join('\n    ') %>
  </style>
</head>

<body>
  <% for (const [name, fields] of Object.entries(forms)) { %>
  <form name="<%= name %>" netlify netlify-honeypot="bot-field" hidden>
    <% for (const [name, { tagName, ...attributes }] of Object.entries(fields)) { %>
    <<%= tagName %> <%- Object.entries({ name, ...attributes }).map(([key, value]) => value ? `${key}="${value}"` : key).join(' ') %><%- tagName === 'input' ? ' //>' : `></${tagName}>` %>
    <% } %>
  </form>
  <% } %>

  <main></main>

  <noscript>
    It looks like your browser has JavaScript disabled 😟
    <br />
    Please enable JavaScript to use this website!
  </noscript>
  </body>
</html>
