<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <% if (favicon) { %>
    <link rel="icon" href="<%- favicon %>" />
    <% } %>
    <!--  -->
    <% if (title) { %>
    <title><%- title %></title>
    <% } %>
    <!--  -->
    <% for (const [name, content] of Object.entries(meta)) { %>
    <meta name="<%- name %>" content="<%- content %>" />
    <% } %>
    <!--  -->
    <% const fontNames = Object.values(fonts); %>
    <!--  -->
    <% if (fontNames.length > 0) { %>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=<%- fontNames.map(font => font.replaceAll(' ', '+')).join('|') %>&display=swap"
    />
    <% } %>

    <style>
      <% const variables = Object.entries(theme); %>
      <% if (variables.length > 0) { %>
      :root {
        <% for (const [name, value] of variables) { %>
        --<%- name %>: <%- value %>;
        <% } %>
      }
      <% } %>

      <%- reset %>
    </style>
  </head>

  <body>
    <main></main>
    <noscript>
      It looks like your browser has JavaScript disabled 😟
      <br />
      Please enable JavaScript to use this website!
    </noscript>
  </body>
</html>
