<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>cmless seed</title>

    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=5" name="viewport">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="on" http-equiv="cleartype">

    <base href="/">
    <link rel="shortcut icon" type="image/png" href="favicon.png" />

    <% const fonts = htmlWebpackPlugin.options.style.fonts; %>
    <link href="https://fonts.googleapis.com/css?family=<%= Object.values(fonts).map((font) => font.split(/\s+/).join('+')).join('|') %>" rel="stylesheet">
  </head>

  <body>
    <main><h1>Hello World!</h1></main>
    <noscript>
      It looks like your browser has JavaScript disabled 😟
      <br>
      Please enable JavaScript to use this website!
    </noscript>
  </body>
</html>
