<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= process.env.APP_TITLE %></title>

    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=5" name="viewport">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="on" http-equiv="cleartype">

    <base href="/">
    <link rel="shortcut icon" type="image/png" href="favicon.png" />

    <% const fonts = Object.values(htmlWebpackPlugin.options.style.fonts); %>

    <% const googleFonts = fonts.filter((font) => font.type === 'Google'); %>
    <% if (googleFonts.length > 0) {
    <%   const toFormattedFont = (font) => `${font.name.replace(/\s+/g, '+')}:${font.weights.join(',')}`; %>
    <link href="https://fonts.googleapis.com/css?family=<%= googleFonts.map(toFormattedFont).join('|') %>" rel="stylesheet">
    <% } %>
  </head>

  <body>
    <main></main>
    <noscript>
      It looks like your browser has JavaScript disabled 😟
      <br>
      Please enable JavaScript to use this website!
    </noscript>
  </body>
</html>
