html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  /* 0.625 of 16px is 10px: https://engageinteractive.co.uk/blog/em-vs-rem-vs-px */
  font-size: 62.5%;
  font-family: var(--fontText);
  color: var(--foregroundDarker);
}

body {
  background: var(--neutralLighter);
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
}

a {
  display: inline-block;
  text-decoration: none;
}

abbr {
  text-decoration: none;
  border-bottom: 1px dotted var(--neutralDark);
  cursor: help;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  transition: all var(--transitionDuration) var(--transitionEasing);
  transition-property: opacity, filter;
}

fieldset[disabled] {
  opacity: 0.8;
  filter: grayscale(100%);
}

fieldset[disabled],
fieldset[disabled] textarea,
fieldset[disabled] input,
fieldset[disabled] button {
  cursor: not-allowed;
}

fieldset.--loading,
fieldset.--loading textarea,
fieldset.--loading input,
fieldset.--loading button {
  cursor: progress;
}

textarea,
input,
button {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  padding: 1rem 0.6rem;
}

textarea,
input {
  outline: none;
  border: 1px solid var(--neutral);
  font-family: var(--fontText);
  font-size: 1rem;

  transition: box-shadow var(--transitionDuration) var(--transitionEasing);

  &:focus {
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.3);
  }
}

textarea {
  resize: vertical;
  min-height: 20rem;
  max-height: 60rem;
}

button {
  cursor: pointer;
  border: 0;
}

img {
  max-width: 100%;
}

img {
  max-width: 100%;
}

img {
  max-width: 100%;
}
