html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  /* 0.625 of 16px is 10px: https://engageinteractive.co.uk/blog/em-vs-rem-vs-px */
  font-size: 62.5%;
  font-family: var(--fontText);
  color: var(--foregroundDarker);
}

body {
  background: var(--neutralLighter);
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

/* https://stackoverflow.com/questions/11243337/a-taller-than-its-img-child */
a > img {
  display: block;
}

img {
  max-width: 100%;
}

svg {
  fill: currentColor;
}
